<div id="main">
    <app-navigation></app-navigation>
    
    <div class="navTop"><span class="navBtn"><i class="fa fa-bars" aria-hidden="true"></i></span></div>

    <app-reactiveForm></app-reactiveForm>
    
    <app-reactiveForm></app-reactiveForm>
    
    <app-infobox></app-infobox>

    <app-product></app-product>

</div>