<div class="container-fluid">
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="container-fluid infoBox blue">
            <div class="ib_one">186</div>
            <div class="ib_two">New Orders</div>
            <div class="row text-center"><a href="" class="ib_link">More Info &nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="container-fluid infoBox green">
            <div class="ib_one">57%</div>
            <div class="ib_two">Bounce Rate</div>
            <div class="row text-center"><a href="" class="ib_link">More Info &nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="container-fluid infoBox orange">
            <div class="ib_one">186</div>
            <div class="ib_two">User Registration</div>
            <div class="row text-center"><a href="" class="ib_link">More Info &nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="container-fluid infoBox red">
            <div class="ib_one">69</div>
            <div class="ib_two">Unique Visitors</div>
            <div class="row text-center"><a href="" class="ib_link">More Info &nbsp;&nbsp;<i class="fa fa-arrow-circle-right"></i></a></div>
        </div>
    </div>
</div>
</div>