<div class="row">
  <div id="mySidenav" class="sidenav">
    <ul class="navleft">
      <li><a href="#"><i class="fa fa-ban"></i><span>About</span></a></li>
      <li><a href="#"><i class="fa fa-shopping-basket"></i><span>Service</span></a></li>
      <li><a href="#"><i class="fa fa-globe"></i><span>Http Service</span></a></li>
      <li><a href="#"><i class="fa fa-edit"></i><span>Model Form</span></a></li>
      <li><a href="#"><i class="fa fa-edit"></i><span>Reactive Form</span></a></li>
      <li><a href="#"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
      <li><a href="#"><i class="fa fa-pie-chart"></i><span>Chart</span></a></li>
    </ul>
  </div>
</div>