<div *ngFor="let p of products; let i = index">
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2" *ngIf="i <=20">
    <div class="container-fluid productBox">
        <div class="row">
            <img src="{{p.thumbnailUrl}}" alt="{{p.title}}" class="img-responsive" />
            <div class="container-fluid"><h3 class="text-primary">{{p.title}}</h3></div>
        </div>
    </div>
</div>
</div>