<form [formGroup]="prodForm">
    <input formControlName="name">
    <input formControlName="lname">
    <app-error[errors]="prodForm.get('name').errors">
        [msgs]={'name':'Please enter your field.'}
    </app-error>
</form>