<div class="container">
    <div class="row">
        <form [formGroup]="rForm" (ngSubmit)="submitForm()">
            <div class="formGroup">
                <label for="">First Name:</label>
                <input type="text" formControlName="f_fname" class="form-control">
                <span>{{fromError.f_fname}}</span>
            </div>
            <div class="formGroup">
                <label for="">Last Name:</label>
                <input type="text" formControlName="f_lname" class="form-control">
                <span>{{fromError.f_lname}}</span>
            </div>
            <div class="formGroup">
                <label for="">Email:</label>
                <input type="text" formControlName="f_email" class="form-control">
                <span>{{fromError.f_email}}</span>
            </div>
            <div class="formGroup">
                <label for="">Mobile:</label>
                <input type="text" formControlName="f_mobile" class="form-control">
                <span>{{fromError.f_mobile}}</span>
            </div>
            <div class="formGroup">
                <label for="">Gender:</label>
                <select formControlName="f_gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
                <span>{{fromError.f_gender}}</span>
            </div>

            <div class="formGroup">
                <input type="submit" value="submit" [disabled]="!rForm.valid">
            </div>
        </form>
    </div>
</div>